## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xcuserdatad
.vscode
build
generated

## Other
*.xccheckout
*.xcscmblueprint
OptimizationProfiles

## Pod Dependencies
Pods/

**/.DS_Store
